/**********************************************************/
/*              style for index.html                      */
/*              autor: Gonzalo Navajas Garcia             */ 
/*              version: 1.0                              */
/*              coment: proyecto final de curso           */
/**********************************************************/

/************************ fuentes *************************/

@font-face {
    font-family:texto;
    src: url(../font/medieval-sharp.book.ttf);
}

@font-face {
    font-family:runas;
    src: url(../font/Hummus.ttf);
}

/***************** layout general ******************/

body{background-color: black;
    color: white;
    font-family:texto;
    font-size:1.6em;
    background-image: url(../img/Fondo.jpg);
    background-size: 25%;}

#wrapper {width:75%;
            margin:auto;
            background-color:rgb(56, 113, 136);
            padding: 2%;}

/************* estilo de barra de navegacion *******************/

nav {font-family:runas;
    text-align:center;}

/************************* hero section ************************/

#hero {background-image:url(../img/ZeldaHero.jpg);
        height:95vh; /* forzar el alto de la hero para ver la foto */
        background-size:cover; /* estira la foto para verla entera */
        background-position:50%;/* donde esta el punto de interes de la foto */
        font-family:runas;
        text-align:center;
        color:black;
        font-size:2em;
        padding-left:20px;
        padding-top:20px;
        } 

#intro {font-family:texto;}


/************************* responsividad ***********************/

@media only screen and (width<650px){
    #wrapper {width:95%;}
}